@charset "utf-8";
.slider-cover .slick-dots { padding: 0; position: absolute; bottom: 20px; left: 0%; width: 100%; text-align: center; font-size: 0; }
.slider-cover .slick-dots li { display: inline-block; padding: 0 4px; }
.slider-cover .slick-dots li button { width: 4px; height: 4px; padding: 4px; border-radius: 50%; background: #a0a0a0; border: 2px solid #fff; overflow: hidden; position: relative; }
.slider-cover .slick-dots li button:after { content: ""; position: absolute; left: 0; top: 0; border-radius: 50%; width: 100%; height: 100%; display: block; background: #e60012; -webkit-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.slider-cover .slick-dots li.slick-active button:after { -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: transform 0.3s; -o-transition: transform 0.3s; transition: transform 0.3s; }
.slider-cover .slick-arrow { border: none; width: 50px; font-size: 0; text-align: center; background: transparent; position: absolute; top: 0; bottom: 0; z-index: 10; opacity: 0.5; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.slider-cover .slick-arrow:before { content: ""; display: block; position: absolute; font-size: 3rem; color: #fff; font-family: FontAwesome; width: 30px; height: 30px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); top: 50%; margin-top: -15px; }
.slider-cover .slick-arrow.slick-prev { left: -30px; }
.slider-cover .slick-arrow.slick-next { right: -30px; }
.slider-cover .slick-arrow.slick-prev:before { border-left: 2px solid #fff; border-bottom: 2px solid #fff; margin-left: -15px; left: 50%; }
.slider-cover .slick-arrow.slick-next:before { border-top: 2px solid #fff; border-right: 2px solid #fff; margin-right: -15px; right: 50%; }
.slider-cover:hover .slick-arrow { opacity: 1; }
.slider-cover:hover .slick-arrow.slick-prev { left: 50px; }
.slider-cover:hover .slick-arrow.slick-next { right: 50px; }
@media (max-width:991px) {
  .slider-cover .slick-arrow.slick-prev { left: 5px; }
  .slider-cover .slick-arrow.slick-next { right: 5px; }
  .slider-cover:hover .slick-arrow.slick-prev { left: 5px; }
  .slider-cover:hover .slick-arrow.slick-next { right: 5px; }
}
@media (max-width:767px) {
  .slider-cover .slick-arrow { width: 40px; }
  .slider-cover .slick-arrow:before { width: 20px; height: 20px; margin-top: -10px; }
  .slider-cover .slick-arrow.slick-prev:before { margin-left: -10px; }
  .slider-cover .slick-arrow.slick-next:before { margin-right: -10px; }
}

/* .brand-slider .slick-dots{padding: 0; margin-top: 30px; width: 100%; text-align: center; font-size: 0;}
.brand-slider .slick-dots li{display: inline-block; padding: 0 4px;}
.brand-slider .slick-dots li button{width: 5px; height: 5px; padding: 5px; border-radius: 50%; background: #a0a0a0; border: none; overflow: hidden; position: relative;}
.brand-slider .slick-dots li button:after{content: ""; position: absolute; left: 0; top: 0;border-radius: 50%; width: 100%;height: 100%; display: block; background: #e60012; -webkit-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);}
.brand-slider .slick-dots li.slick-active button:after{-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
-webkit-transition: transform 0.3s;
-o-transition: transform 0.3s;
transition: transform 0.3s;} */
#product .itemList .slick-arrow { border: none; width: 50px; font-size: 0; text-align: center; background: transparent; position: absolute; top: 0; bottom: 0; z-index: 10; opacity: 0.5; -webkit-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
#product .itemList .slick-arrow:before { content: ""; display: block; font-size: 3rem; color: #fff; font-family: FontAwesome; width: 30px; height: 30px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); }
#product .itemList .slick-arrow.slick-prev { left: 0px; }
#product .itemList .slick-arrow.slick-next { right: 0px; }
#product .itemList .slick-arrow.slick-prev:before { border-left: 2px solid #666; border-bottom: 2px solid #666; }
#product .itemList .slick-arrow.slick-next:before { border-top: 2px solid #666; border-right: 2px solid #666; }
#product .itemList .slick-arrow:hover { opacity: 1; }
.prize-slider .slick-arrow { border: none; width: 50px; font-size: 0; text-align: center; background: transparent; position: absolute; top: 0; bottom: 0; z-index: 10; opacity: 0.5; -webkit-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }
.prize-slider .slick-arrow:before { content: ""; display: block; font-size: 3rem; color: #fff; font-family: FontAwesome; width: 30px; height: 30px; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.prize-slider .slick-arrow.slick-prev { left: -30px; }
.prize-slider .slick-arrow.slick-next { right: -30px; }
.prize-slider .slick-arrow.slick-prev:before { border-left: 2px solid #fff; border-bottom: 2px solid #fff; }
.prize-slider .slick-arrow.slick-next:before { border-top: 2px solid #fff; border-right: 2px solid #fff; }
.prize-slider .slick-arrow:hover { opacity: 1; }
.prize-slider .slick-dots { padding: 0; position: absolute; top: -50px; left: 0; width: 100%; text-align: center; font-size: 0; }
.prize-slider .slick-dots li { display: inline-block; padding: 0 4px; }
.prize-slider .slick-dots li button { width: 5px; height: 5px; padding: 5px; border-radius: 50%; background: #a0a0a0; border: 2px solid #fff; overflow: hidden; position: relative; }
.prize-slider .slick-dots li button:after { content: ""; position: absolute; left: 0; top: 0; border-radius: 50%; width: 100%; height: 100%; display: block; background: #e60012; -webkit-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.prize-slider .slick-dots li.slick-active button:after { -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: transform 0.3s; -o-transition: transform 0.3s; transition: transform 0.3s; }
.down-slider .slick-dots { padding: 0; width: 100%; text-align: center; font-size: 0; }
.down-slider .slick-dots li { display: inline-block; padding: 0 4px; }
.down-slider .slick-dots li button { width: 5px; height: 5px; padding: 5px; border-radius: 50%; background: #a0a0a0; border: 2px solid #fff; overflow: hidden; position: relative; }
.down-slider .slick-dots li button:after { content: ""; position: absolute; left: 0; top: 0; border-radius: 50%; width: 100%; height: 100%; display: block; background: #20477b; -webkit-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.down-slider .slick-dots li.slick-active button:after { -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: transform 0.3s; -o-transition: transform 0.3s; transition: transform 0.3s; }

/*彈跳*/
.mfp-fade.mfp-bg { opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }
.mfp-fade.mfp-wrap .mfp-content { opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }
